ServicesForWorkingWithCheques.ChequeWatcherWindowsService/Connected Services/ChequeServiceReference/ChequeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-ffpm5mn/ChequeService/ChequeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicesForWorkingWithCheques.Domain.Core" />
  <xs:element name="SaveCheque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicesForWorkingWithCheques.Domain.Core" minOccurs="0" name="cheque" nillable="true" type="q1:Cheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChequeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChequeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chequeCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChequeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicesForWorkingWithCheques.Domain.Core" minOccurs="0" name="GetChequeListResult" nillable="true" type="q2:ArrayOfCheque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>